# Tipi di dati

Da [An Informal Introduction to Python](https://docs.python.org/3/tutorial/introduction.html)

In [1]:
1 + 2

3

In [2]:
2 ** 1234

295811224608098629060044695716103590786339687135372992239556207050657350796238924261053837248378050186443647759070955993120820899330381760937027212482840944941362110665443775183495726811929203861182015218323892077355983393191208928867652655993602487903113708549402668624521100611794270340232766099317098048887493809023127398253860618772619035009883272941129544640111837184

In [3]:
3 / 2 + .1

1.6

In [4]:
3 // 2

1

In [5]:
"ciao"

'ciao'

In [6]:
print("""Sempre caro mi fu quest'ermo colle,
E questa siepe, che da tanta parte
Dell'ultimo orizzonte il guardo esclude.""")

Sempre caro mi fu quest'ermo colle,
E questa siepe, che da tanta parte
Dell'ultimo orizzonte il guardo esclude.

In [7]:
True

True

In [8]:
None

In [9]:
[1, 2, 'tre']

[1, 2, 'tre']

In [10]:
2, 4

(2, 4)

In [32]:
a, b = 1, 2
a, b = b, a
a, b

(2, 1)

In [42]:
l = list('ciao')
l

['c', 'i', 'a', 'o']

In [43]:
l[1] = -1
l

['c', -1, 'a', 'o']

In [45]:
t = tuple([1, 2])
t

(1, 2)

In [72]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [76]:
list('abracadrabra')[2:9:3]

['r', 'a', 'a']

In [78]:
v = [1, 2, 3]
v[-1]

3

# Controllo del flusso e funzioni

Da [More Control Flow Tools](https://docs.python.org/3/tutorial/controlflow.html)

In [12]:
if "a" == "b": print("Si")

In [13]:
tot = 0
for i in range(10): 
    tot += i
print(tot)

45

In [14]:
list(range(2,30,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [15]:
# for has else!

a = ['a', 'needle', 'in', 'an', 'hystack']

for e in a:
    if a == 'needless': 
        print('Found!')
        break
else: 
    print('Not found!')

Not found!

In [16]:
def double(x):
    return 2 * x

double(3)

6

In [17]:
double("ciao")

'ciaociao'

In [18]:
def times(value, mult = 3):
    return mult * value

times(10)

30

In [19]:
times("a", 5)

'aaaaa'

In [20]:
times(mult = 4, value = 3)

12

In [21]:
# call by reference

def zero(x, i):
    x[ i ] = 0
    
a = [1, 2, 3]
zero(a, 1)
a

[1, 0, 3]

In [22]:
# function first class objects

def apply(func, vect):
    return [func(x) for x in vect]

In [23]:
apply(double, [1, 2, 3])

[2, 4, 6]

In [24]:
lambda x: x * 4

In [25]:
apply(lambda x: x * 4, [1, 2, 3])

[4, 8, 12]

# Altri tipi di dati

Da [Data Structures](https://docs.python.org/3/tutorial/datastructures.html)

In [47]:
# dizionari

d = {
    'uno': 1,
    'due': 2,
    'tre': 3
}

v = ['uno', 'uno', 'tre', 'due']

for x in v: print(d[x])

1
1
3
2

In [59]:
sum(d[x] for x in v)

7

In [60]:
for k, v in d.items():
    print(f'{k} -> {v}')

uno -> 1
due -> 2
tre -> 3

In [57]:
# insiemi

import string

lettere = set(string.ascii_lowercase)
lettere

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [61]:
vocali = set('aeiou')

consonanti = lettere - vocali
consonanti

{'b',
 'c',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'm',
 'n',
 'p',
 'q',
 'r',
 's',
 't',
 'v',
 'w',
 'x',
 'y',
 'z'}

# Input/Output e formattazione stringhe

Da [Input and Output](https://docs.python.org/3/tutorial/inputoutput.html)

In [68]:
# formattazione stringhe

'la %s maniera' % 'vecchia'

'la vecchia maniera'

In [62]:
'interpola {} valore'.format('un')

'interpola un valore'

In [67]:
v = 'nuova'
f'la {v} maniera'

'la nuova maniera'

In [101]:
# I/O da file

parole = open('zingarelli.txt').readlines()
len(parole)

661563

In [102]:
parole[:10]

['ABACA\n',
 'ABACHI\n',
 'ABACHISTA\n',
 'ABACHISTE\n',
 'ABACHISTI\n',
 'ABACO\n',
 'ABADESSA\n',
 'ABADESSE\n',
 'ABADIA\n',
 'ABADIE\n']

In [103]:
parole = [p.strip() for p in parole]
parole[:10]

['ABACA',
 'ABACHI',
 'ABACHISTA',
 'ABACHISTE',
 'ABACHISTI',
 'ABACO',
 'ABADESSA',
 'ABADESSE',
 'ABADIA',
 'ABADIE']

In [104]:
set(p for p in parole if p.endswith('SACCA'))

{'BISACCA',
 'CASACCA',
 'COSACCA',
 'DISACCA',
 'INSACCA',
 'RINSACCA',
 'RISACCA',
 'SACCA'}